node_modules/
*/node_modules/
# 环境变量 (绝对不能上传!)
.env
.env.local
.env.production

# 构建产物
.next/
dist/
build/
*.tar
*.gz

# Docker 数据卷 (数据库实际存储位置)
pgdata/
redisdata/
miniodata/
meili_data/
caddy_data/
caddy_config/
grafana_data/

# 日志
logs/
*.log

# 系统文件
.DS_Store
Thumbs.db
