{
    auto_https off
}

:80 {
    # 1. API 接口转发
    handle /api/* {
        reverse_proxy api:4000
    }

    # 2. 🔥 新增：图片资源转发 (MinIO)
    # 把访问 /novel-assets/ 的请求转给 minio 容器
    handle /novel-assets/* {
        reverse_proxy minio:9000
    }

    # 3. 前端页面转发
    handle {
        reverse_proxy web:3000
    }

    log {
        output file /var/log/caddy/access.log
    }
}
